.about-container {
    display: flex;
    justify-content: space-between;
}

.about-card {
    background-color: #282828;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: transform 0.2s ease;
}

.about-card:hover {
    transform: translateY(-5px);
}

.about-card h3 {
    font-size: 1.8rem;
    color: var(--accent-color);
}

.about-card p {
    font-size: 1.1rem;
    color: var(--secondary-color);
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
    }

    .about-card {
        width: 100%; 
    }
}
