/* Changelog und Dev Blog */
.changelog-container, .dev-blogs-container {
    margin-bottom: 3rem;
}

/* Dev Blogs */
.dev-blog-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dev-blog {
    background-color: #282828;
    border-radius: var(--border-radius);
    padding: 1.5rem;
    width: 22%; /* 4 Spalten auf Desktop */
    box-shadow: var(--box-shadow);
    transition: transform 0.2s ease;
    margin-right: 20px; /* Abstand zwischen den Cards */
}

.dev-blog:hover {
    transform: translateY(-5px);
}

.dev-blog img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

.dev-blog h3 {
    font-size: 1.5rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
}

.dev-blog p {
    font-size: 1.1rem;
    color: var(--secondary-color);
}

@media (max-width: 768px) {
    .dev-blog-container {
        flex-direction: column;
    }

    .dev-blog {
        width: 100%; /* Auf kleinen Geräten nimmt der Dev-Blog die volle Breite */
    }
}

/* Changelog */
.changelog-entry {
    background-color: #282828;
    border-radius: var(--border-radius);
    padding: 1.5rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 1rem;
}

.changelog-entry h2 {
    font-size: 1.8rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
}

.changelog-entry .version-date,
.changelog-entry {
    font-size: 1rem;
    color: #ccc;
    margin-top: 1.5rem;
}

.changelog-entry .version-date strong,
.changelog-entry {
    color: var(--secondary-color);
}

.changelog-entry ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 1.1rem;
    color: var(--secondary-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    .changelog-entry {
        padding: 1rem;
    }
}

/* Stil für das Datum im gewünschten Format */
.changelog-entry .version-date {
    font-size: 1.2rem;
    color: #ccc;
}
