/* Grundstil für das Navbar */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
}

.logo {
    color: #fff;
    font-size: 1.8rem;
}

/* Hamburger-Menü */
.hamburger-menu {
    display: none; /* Auf großen Bildschirmen wird das Hamburger-Symbol nicht angezeigt */
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li {
    color: #fff;
}

.nav-links a {
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
}

/* Bei kleinen Bildschirmen */
@media (max-width: 768px) {
    /* Hamburger-Menü sichtbar machen */
    .hamburger-menu {
        display: block;
    }

    /* Navigation Links ausblenden */
    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 0;
        background-color: #333;
        position: absolute;
        top: 60px; /* Damit es unter der Navbar angezeigt wird */
        left: 0;
        padding: 1rem;
    }

    /* Navigation Links sichtbar machen, wenn Hamburger-Menü angeklickt wurde */
    .nav-links.active {
        display: flex;
    }
}
