/* Navbar Styles */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 2rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.hamburger-menu {
    display: none; /* Standardmäßig unsichtbar */
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none; /* Auf mobilen Geräten ist das Menü standardmäßig unsichtbar */
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #333;
        padding-top: 2rem;
    }

    .nav-links li {
        margin: 1rem 0;
    }

    .hamburger-menu {
        display: block; /* Das Hamburger-Menü erscheint bei mobilen Geräten */
    }

    .nav-links.active {
        display: flex; /* Zeige das Menü an, wenn es aktiv ist */
    }
}
