/* styles.css */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

footer .footer-content {
  display: flex; /* Flexbox für die Anordnung der Links */
  justify-content: center; /* Zentriert die Links */
  gap: 20px; /* Abstand zwischen den Links */
  align-items: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .footer-contact {
  margin-top: 10px;
  font-size: 14px;
}

footer .footer-contact p {
  margin: 5px 0;
  font-size: 12px;
}

canvas {
  width: 100vw;
  height: calc(100vh - 60px); /* Wenn der Footer 60px hoch ist */
  display: block;
}
